/* Form attractions */

.attractions {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 16px;
  }
}

.attractions legend {
  @media (min-width: @tablet-width) {
    width: 308px;
  }
}

.attractions__list {
  display: grid;
  grid-template-columns: 216px;
  gap: 54px;

  margin: 0;
  padding: 0;

  margin-top: 36px;
  margin-bottom: 39px;


  @media (min-width: @tablet-width) {
    grid-template-columns: 216px 216px;
    justify-content: center;
    gap: 62px;

    margin-left: 10px;
    margin-top: 59px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 216px 216px 216px 216px;
    gap: 36px;
  }
}

.attractions__item {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  margin: 0;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    padding-left: 91px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 71px;
  }
}

.attractions__item:nth-of-type(2n) {
  @media (min-width: @tablet-width) {
    padding-left: 75px;
  }
}

.attractions__item:nth-of-type(2) {
  @media (min-width: @desktop-width) {
    padding-left: 77px;
  }
}

.attractions__item:nth-of-type(3) {
  @media (min-width: @desktop-width) {
    padding-left: 83px;
  }
}

.attractions__item:nth-of-type(4) {
  @media (min-width: @desktop-width) {
    padding-left: 70px;
  }
}

.attractions__input + label::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -17px;
  width: 55px;
  height: 55px;

  background-color: @special-gray;
  border-radius: 5%;
}

.attractions__input:checked + label::after {
  content: "";
  position: absolute;
  left: -64px;
  top: 4px;
  width: 24px;
  height: 17px;

  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.attractions__item label {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  margin: 0;
  padding: 0;
}
