.feature-list {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  list-style: none;

  padding: 0;
  margin: 0;
}

.feature-list__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.feature-list__item h3 {
  margin-bottom: 26px;
}

.feature-list__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}