.feature {
  @media (max-width: @tablet-width) {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.feature__inner {
  display: flex;
  flex-direction: column;

  text-align: center;
  text-transform: uppercase;
  color: @white;

  background-color: @gray;
  width: 100%;

  &--image {
    background-color: @blue;
    color: @white;
  }

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.feature__title {
  align-self: center;
  display: block;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @black;

  /*width: 295px;*/
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-top: 40px;
  }
}

.feature__text {
  display: block;

  font-size: 14px;
  line-height: 21px;
  color: @light-gray;

  margin: 0;
  padding: 0;
  margin-bottom: 17px;

  &--image {
    color: @white;
  }
}

.feature__text--left {
  @media (min-width: @tablet-width) {
    padding: 0 32px;
  }
}

.feature__image {
  display: block;
  width: 100%;
  height: 260px;

  @media (min-width: @tablet-width) {
    height: 100%;
  }
}

/* Feature list */

.feature__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  list-style: none;

  padding: 0;

  margin: 35px 0;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
  }
}

.feature__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  text-transform: uppercase;
  text-align: left;

  list-style: none;
  width: 210px;
  margin: 0;
  padding: 0;

  padding-left: 69px;

  @media (min-width: @tablet-width) {
    margin-top: 158px;
    margin-bottom: 59px;
    padding: 0;
    width: 256px;
    align-items: center;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    margin-bottom: 82px;
  }
}

/* Icon for feature house */
.feature__list-item--house {
  &::before {
    content: "";
    position: absolute;

    width: 39px;
    height: 37px;

    top: -8px;
    left: 21px;
    background-image: url("../img/icon-house-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 75px;
      height: 72px;

      top: -98px;
      left: 90px;

      background-image: url("../img/icon-house.svg");
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: -100px;
      left: 161px;
    }
  }
}

/* Icon for feature food */
.feature__list-item--food {
  &::before {
    content: "";
    position: absolute;

    width: 76px;
    height: 68px;

    top: -4px;
    left: 18px;

    background-image: url("../img/icon-burger-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 75px;
      height: 72px;

      top: -96px;
      left: 89px;

      background-image: url("../img/icon-burger.svg");
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: -95px;
      left: 161px;
    }
  }
}

/* Text break for feature food on*/
.feature__list-item--food-break {
  @media (max-width: @tablet-width) {
    display: none;
  }
}

/* Icon & mobile margin for feature souvenir */
.feature__list-item--souvenir {
  &::before {
    content: "";
    position: absolute;

    width: 64px;
    height: 75px;

    top: -10px;
    left: 25px;

    background-image: url("../img/icon-gift-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  @media (max-width: @tablet-width) {
    margin: 26px 0;
  }

  @media (min-width: @tablet-width) {
    order: 2;

    &::before {
      width: 64px;
      height: 75px;

      top: -102px;
      left: 95px;

      background-image: url("../img/icon-gift.svg");
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: -100px;
      left: 167px;
    }
  }
}

.feature__list-item--souvenir br {
  @media (max-width: @desktop-width) {
    display: none;
  }
}

.feature__list-item h3 {
  display: block;

  font-size: 18px;
  margin: 0;
  padding: 0;

  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 25px;
  }
}

.feature__list-item p {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: @light-gray;
  text-align: left;

  padding: 0;
  margin: 0;
  margin-top: -2px;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 194px;
  }

  @media (min-width: @desktop-width) {
    width: 286px;
  }
}

.feature__list-wrap {
  display: block;
  width: 100%;
}

/* Feature left */

.feature--left {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px;
  }
}

.feature--left .feature__inner {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.feature--left picture {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.feature--left .feature__list {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.feature__inner--left {
  padding-top: 9px;
  padding-bottom: 21px;
}

.feature__inner--left .feature__title {
  @media (min-width: @tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    padding: 0 108px;
  }
}

.feature__inner--left .feature__text {
  @media (min-width: @tablet-width) {
    padding: 0 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 57px;
  }
}

/* Feature right */

.feature--right {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px;
  }
}

.feature--right .feature__inner {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.feature--right picture {
  @media (min-width: @tablet-width) {
    order: -1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.feature__inner--right .feature__title {
  margin-top: 0;
  padding-top: 41px;

  @media (min-width: @tablet-width) {
    padding: 0 36px;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 108px;
    padding-top: 51px;
  }
}

.feature__inner--right .feature__text {
  @media (min-width: @tablet-width) {
    padding: 0 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 84px;
  }
}

.feature__text--image:first-of-type {
  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.feature__title--image {
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-top: 32px;
  }
}

.feature__title--image br {
  @media (max-width: @tablet-width) {
    display: none;
  }
}

.feature__inner--right {
  padding-bottom: 19px;
}

/* Feature 3*/

.feature:nth-of-type(3) {
  @media (max-width: @tablet-width) {
    background-color: @gray;
  }
}

.feature:nth-of-type(3) .feature__inner {
  @media (max-width: @tablet-width) {
    width: 268px;
    margin: 0 auto;
    padding-bottom: 8px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 38px;
  }
}

.feature:nth-of-type(3) .feature__title {
  @media (min-width: @tablet-width) {
    padding: 0 34px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 105px;
  }
}

.feature:nth-of-type(3) .feature__text {
  @media (min-width: @tablet-width) {
    padding: 0 34px;
    margin-bottom: 25px;
  }
}

/* Feature 4 */

.feature:nth-of-type(4) {
  @media (max-width: @tablet-width) {
    background-color: @gray;
  }
}

.feature:nth-of-type(4) .feature__inner {
  @media (max-width: @tablet-width) {
    width: 256px;
    margin: 0 auto;
    padding-bottom: 8px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
    padding-bottom: 38px;
  }
}

.feature:nth-of-type(4) .feature__title {
  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 124px;
  }
}

.feature:nth-of-type(4) .feature__text {
  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px;
  }
}

/* Feature 5 */

.feature:nth-of-type(5) {
  @media (max-width: @tablet-width) {
    background-color: @gray;
  }
}

.feature:nth-of-type(5) .feature__inner {
  @media (max-width: @tablet-width) {
    width: 256px;
    margin: 0 auto;
    padding-bottom: 8px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 39px;
    padding-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 39px;
    padding-bottom: 37px;
  }
}

.feature:nth-of-type(5) .feature__title {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
    margin-top: 6px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 133px;
  }
}

.feature:nth-of-type(5) .feature__text {
  @media (min-width: @tablet-width) {
    padding: 0 55px;
    margin-bottom: 24px;
  }
}
