.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 60px;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.footer--index {
  @media (min-width: @tablet-width) {
    margin-top: -1px;
  }
}

.footer__title {
  font-size: 21px;
  line-height: 26px;

  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 32px;

  @media (min-width: @desktop-width) {
    margin-top: 40px;
  }
}

.footer__title--index {
  @media (max-width: @tablet-width - 1) {
    margin-top: 28px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 36px;
  }
}

.footer__title--photo {
  margin-top: 80px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
  }
}

.footer__link {
  display: block;
  position: relative;
  color: @black;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;

  margin-right: 40px;
  margin-top: 28px;
  margin-bottom: 26px;
}

.footer__link--index {
  @media (max-width: @tablet-width - 1) {
    margin-top: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }
}

.footer__link--photo {
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    margin-top: -12px;
  }

  @media (min-width: @desktop-width) {
    margin: -14px 40px 0 0;
  }
}

.footer__link--form {
  @media (max-width: @tablet-width - 1) {
    margin-top: 31px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 26px;
  }
}

.footer__link-logo {
  position: absolute;
  top: 10px;
  right: -40px;
}

.footer__link-logo--photo {
  @media (min-width: @desktop-width) {
    top: 10px;
  }
}

.footer__link-logo path {
  &:hover {
    fill: @blue;
  }

  &:active {
    fill: black;
    opacity: 0.3;
  }
}
