.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 60px;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.footer--index {
  @media (min-width: @tablet-width) {
    margin-top: -4px;
  }
}

.footer__title {
  font-size: 21px;
  line-height: 26px;

  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 32px;

  @media (min-width: @desktop-width) {
    margin-top: 40px;
  }
}

.footer--index .footer__title {
  @media (min-width: @tablet-width) {
    margin-top: 36px;
  }
}

.footer__title--photo {
  margin-top: 80px;

  @media (min-width: @tablet-width) {
    margin-top: 2px;
  }
}

.footer__link {
  display: block;
  position: relative;
  color: @black;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;

  margin-right: 40px;
  margin-top: 31px;
  margin-bottom: 26px;
}

.footer__link--photo {
  @media (min-width: @tablet-width) {
    margin-top: -12px;
  }
}

.footer__link-logo {
  position: absolute;
  top: 10px;
  right: -40px;
}
