.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form fieldset {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  border: none;
}

.form legend {
  display: block;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
  	font-size: 21px;
  }
}

.form fieldset {
	position: relative;
  margin-top: 20px;

  @media (min-width: @desktop-width) {
  	margin-top: 40px;
  }
}

.form fieldset:not(:last-of-type) {
	@media (max-width: @tablet-width) {
  	border-bottom: 1px solid @border-gray;
	}
}

/* Form emotions */

.form__emotions {
  display: block;

  margin: 0;
  padding: 0;

  margin-bottom: 51px;
}

.form__emotions-item {
  display: block;

  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  height: 118px;

  width: 279px;

  padding: 13px 21px 23px 29px;

  margin-top: 15px;

  background-color: @special-gray;
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;
  resize: none;

  @media (min-width: @tablet-width) {
  	width: 648px;
  	margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
  	width: 960px;
  }
}

/* Form button */

.form__button {
  display: block;
  align-self: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;

  width: 285px;
  padding: 19px 0 13px;

  margin: 0;
  margin-left: 19px;
  margin-top: 51px;
  margin-bottom: 49px;

  border: none;

  background-color: @blue;

  @media (min-width: @tablet-width) {
  	margin-left: 0;
  	width: 324px;
  	margin-top: 58px;
  }
  @media (min-width: @desktop-width) {
  	width: 480px;
  	margin-bottom: 66px;
  }
}

/* Form obligatory */

.form__obligatory {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: @light-gray;

  width: 192px;
  margin: 0;
  margin-top: 78px;

  @media (max-width: @tablet-width) {
  	display: none;
  }
  @media (min-width: @desktop-width) {
  	text-align: right;
  }
}
