.gallery__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0;
	margin: 0;

	list-style: none;
}

.gallery__item {
	list-style: none;

	padding: 0;
	margin: 0;

	margin: 22px 0 15px;

}

.gallery-item__title {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;

	margin: 0;
}

.gallery-item__author {
	font-size: 14px;
	line-height: 24px;
	color: @light-gray;
	text-transform: none;

	margin: 0;
}

.gallery-item__counter {
	display: flex;

	margin-top: 10px;
}

.counter__digit {
	display: block;
	align-self: flex-end;

	font-weight: bold;
	font-size: 14px;
	line-height: 24px;

	margin: 0;
	margin-left: 14px;
}

.gallery__video {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.gallery__video-menu {
	display: block;
	align-self: center;
	width: 280px;

	margin-top: -45px;
}






