.gallery-item--first {
	@media (min-width: @tablet-width) {

	}
}

.gallery-item__wrapper {
	@media (min-width: @tablet-width) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		background-color: @special-gray;
	}
}

.gallery-item:nth-of-type(3) .gallery-item__wrapper {
	@media (min-width: @tablet-width) {
		background-color: @gallery-gray;
	}
}

.gallery-item__inner {
	@media (min-width: @tablet-width) {	
		padding-left: 21px;
		padding-top: 22px;
		padding-bottom: 15px;
	}
}

.gallery-item__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  margin: 0;
}

.gallery-item__author {
  font-size: 14px;
  line-height: 24px;
  color: @light-gray;
  text-transform: none;

  margin: 0;
}

.gallery-item__counter {
	display: flex;

	@media (max-width: @tablet-width) {
  	margin-top: 10px;
	}

	@media (min-width: @tablet-width) {
		padding-top: 30px;
		padding-bottom: 26px;
		padding-right: 29px;
	}
}
