.gallery-item__title {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;

	margin: 0;
}

.gallery-item__author {
	font-size: 14px;
	line-height: 24px;
	color: @light-gray;
	text-transform: none;

	margin: 0;
}

.gallery-item__counter {
	display: flex;

	margin-top: 10px;
}