.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header__wrapper {
  position: relative;
  z-index: 4;
  max-width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.header__logo {
  position: absolute;
  display: block;
  text-align: center;
  z-index: 6;
  height: 56px;

  top: 223px;
  left: 109px;

  @media (min-width: @tablet-width) {
    top: 0;
    left: 333px;
  }

  @media (min-width: @desktop-width) {
    left: 507px;
  }
}

.header__menu-icon {
  @media (max-width: @tablet-width - 1) {
    position: absolute;
    display: block;

    top: 17px;
    right: 20px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__nav {
  order: -1;
}

.header__image {
  position: relative;

  width: 100%;

  text-align: center;
  z-index: 2;

  @media (min-width: @mobile-width) {
    margin-top: 55px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 57px;

      bottom: 0;
      left: 0;

      background-image: url("../img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 766px auto;
    }
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 767px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

/* Header image on index page */
.header__image--index {
  height: 389px;

  @media (min-width: @tablet-width) {
    height: 522px;
    background-position: center;
  }
}

.header__image--index img {
  padding: 90px 20px 85px;

  @media (min-width: @tablet-width) {
    padding-top: 79px;
  }
}

/* Header image on photo page */
.header__image--subpage {
  display: block;

  height: 158px;
  margin-top: 56px;

  background-position: center;

  @media (min-width: @tablet-width) {
    margin-top: -54px;
    height: 345px;

    &::after {
      bottom: -1px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 356px;
  }
}

.header__image--subpage img {
  width: 229px;
  height: 39px;
  padding: 51px 20px 85px;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: 80px;
    padding-left: 22px;
    padding-top: 149px;
  }

  @media (min-width: @desktop-width) {
    height: 83px;
    padding-top: 102px;
    padding-left: 18px;
    margin-top: 53px;
  }
}
