.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  margin-top: 32px;
  margin-bottom: 16px;
}

.intro__title {
	display: block;
	font-size: 18px;
	line-height: 26px;
  font-weight: bold;

  &--index{
  	width: 255px;
  }
}

.intro__text {
	display: block;
	font-size: 14px;
	line-height: 26px;

	color: @light-gray;

	&--index {
  	width: 255px;
  }

}

.intro__text {
  &--photo {
  	width: 290px;
  }
}