.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit;
  text-align: center;
  text-transform: uppercase;

  margin-top: 32px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 520px;
    margin: 0 124px 52px;
  }
}

.intro--photo {
  @media (min-width: @desktop-width) {
    margin-top: 102px;
  }
}

.intro--form {
  @media (min-width: @desktop-width) {
    margin-top: 114px;
  }
}

.intro__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.intro__title--index {
  @media (min-width: @mobile-width) {
    width: 255px;
  }

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.intro__title--photo {
  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.intro__title--index span {
  @media (max-width: @tablet-width) {
    display: none;
  }
}

.intro__text {
  display: block;
  font-size: 14px;
  line-height: 26px;

  color: @light-gray;

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.intro__text--index {
  @media (min-width: @mobile-width) {
    width: 255px;
  }

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.intro__text--photo {
  width: 290px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.intro__text--photo br {
  @media (max-width: @desktop-width) {
    display: none;
  }
}

.intro__text--form {
  width: 306px;

  @media (min-width: @tablet-width) {
    width: 434px;
  }
}
