// Header nav

.nav {
  order: -1;
}

.nav__list {
  display: flex;

  list-style: none;

  padding: 0;
  margin: 0;

  @media (max-width: @tablet-width) {
    flex-direction: column;
    width: @mobile-width;

    order: -1;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-start;

    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    z-index: 5;
    align-items: flex-start;
    width: 100%;
  }
}

.nav__item {
  display: block;
  background-color: @blue;

  text-align: center;

  @media (min-width: @tablet-width) {
    width: 153px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    width: 239px;
  }
}

.nav__item:nth-of-type(2) {
  @media (min-width: @tablet-width) {
    margin-right: 156px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 244px;
  }
}

.nav__item a {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

  text-transform: uppercase;

  text-decoration: none;

  padding: 16px 0 14px;

  @media (min-width: @mobile-width) {
    color: @white;
    font-size: 18px;
    line-height: 40px;

    padding: 10px 0 5px;
  }

  @media (min-width: @tablet-width) {
    color: @black;
  }
}
