// Header nav

.nav{
  order: -1;
}

.nav__list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 320px;

  list-style: none;
  order: -1;

  padding: 0;
  margin: 0;
}

.nav__item{
  display: block;
  background-color: @blue;

  width: 100%;
  text-align: center;
}

.nav__item{
  display: block;
  background-color: @blue;

  width: 100%;
  text-align: center;
}

.nav__item a{
  display: block;
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  text-decoration: none;

  padding: 10px 0 5px;
}