// Globals

body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {/**/

 	max-width: @mobile-width;
  min-height: 100%;
  margin: 0 auto;

 	@media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.page__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
  	margin-top: 65px;
  }
}

.page__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: inherit;
}
