// Page

.page__body {
  max-width: @mobile-width;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}
