/* Form person */

.person {
  @media (min-width: @tablet-width) {
    width: 266px;
  }

  @media (min-width: @desktop-width) {
    width: 420px;
  }
}

.person legend {
  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.person__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;

  margin: 0;
  margin-bottom: 25px;
}

.person__item {
  display: flex;

  align-items: center;
  list-style: none;

  margin: 0;
  padding: 0;
  width: 100%;
}

.person__item label {
  display: block;
  font-size: 14px;
  color: @light-gray;

  margin: 0;
  padding: 0;

  margin-right: 12px;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
  }
}

.person__item input {
  display: block;

  font-weight: bold;
  font-size: 16px;
  border: none;

  width: 100%;

  padding-left: 22px;
  padding-top: 18px;
  padding-bottom: 14px;

  background-color: @special-gray;
}

.person__item:first-of-type {
  margin-top: 19px;

  @media (min-width: @tablet-width) {
    margin-top: 36px;
  }
}

.person__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.person__item:last-of-type {
  margin-bottom: 25px;
}
