// Main preview

.preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  text-align: center;
  text-transform: uppercase;
}

.preview--index {
  @media (min-width: @tablet-width) {
    padding: 58px 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.preview--photo {
  width: 266px;
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    width: 445px;

    margin-top: 59px;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.preview__wrapper {
  @media (min-width: @tablet-width) {
    width: 435px;
  }
}

.preview__title {
  display: block;
  font-size: 21px;
  line-height: 26px;

  font-weight: bold;

  margin: 0;
  padding: 0;

  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.preview__text {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: @light-gray;

  margin-bottom: 27px;
}

.preview__text span {
  @media (max-width: @tablet-width) {
    display: none;
  }
}

.preview__link {
  display: block;
  align-self: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: @white;

  padding: 15px 32px;
  margin-bottom: 49px;

  background-color: @blue;

  @media (min-width: @tablet-width) {
    padding: 15px 121px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 121px;
    margin-bottom: 49px;
  }
}
