// Main preview

.preview{
	display: flex;
	flex-direction: column;
	flex: wrap;
	align-items: center;

	text-align: center;
	text-transform: uppercase;
}

.preview__wrapper {
	width: 260px;

	margin-top: 33px;

}

.preview__title {
	display: block;
	font-size: 21px;
	line-height: 26px;

	font-weight: bold;

	margin: 0;
	padding: 0;

	margin-bottom: 26px;
}

.preview__text {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: @light-gray;

	margin-bottom: 27px;
}

.preview__link {
	display: block;
	align-self: center;

	font-weight: bold;
	text-decoration: none;
	color: @white;

	width: 280px;
	padding: 15px 0;
	margin-bottom: 49px;

	background-color: @blue;
}