.socials {
  display: flex;
  flex: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: -5px;
    padding-right: 8px;
  }
}

.socials__item {
  display: block;
  width: 46px;
  height: 48px;

  align-self: center;
  background-color: @blue;
  text-decoration: none;

  &:hover {
    background-color: @button-hover;
  }

  &:active {
    background-color: @button-click;

    svg {
      opacity: 0.3;
    }
  }
}

.socials__item:nth-of-type(1) svg {
  margin-top: 16px;
  margin-left: 14px;

  fill: @white;
}

.socials__item:nth-of-type(2) {
  margin: 0 6px;
}

.socials__item:nth-of-type(2) svg {
  margin-top: 13px;
  margin-left: 19px;

  fill: @white;
}

.socials__item:nth-of-type(3) svg {
  margin-top: 16px;
  margin-left: 13px;

  fill: @white;
}
