/* Form survey */

.survey {
  position: relative;

  @media (max-width: @tablet-width - 1) {
    &::after {
      position: absolute;
      content: "";

      bottom: -7px;
      left: -20px;

      width: 320px;
      height: 1px;
      background-color: @border-gray;
    }
  }

  @media (min-width: @tablet-width) {
    order: -5;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.survey legend {
  position: relative;

  @media (max-width: @tablet-width - 1) {
    padding-left: 19px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      content: "";

      right: -52px;
      top: 1px;

      width: 1px;
      height: 292px;
      background-color: @border-gray;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;

    &::after {
      right: -131px;
    }
  }
}

.survey__list {
  list-style: none;

  margin: 0;
  padding: 0;

  margin-bottom: -4px;

  @media (max-width: @tablet-width - 1) {
    margin-top: 25px;
  }
}

.survey__item {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.survey__input + label::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -14px;
  width: 54px;
  height: 54px;

  background-color: @special-gray;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    left: 6px;
  }

  &:hover {
    background-color: @border-gray;
  }

  &:active {
    background-color: @button-active;
  }
}

.survey__input:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 1px;
  width: 22px;
  height: 22px;

  background-color: @black;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    left: 21px;
  }

  &:active {
    opacity: 0.3;
  }
}

.survey__item label {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;

  margin: 0;
  padding: 0;

  padding-left: 78px;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
  }
}

.survey__item:first-child {
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    padding-top: 73px;
  }
}

.survey__item:not(:last-child) {
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-bottom: 52px;
  }
}

.survey__item:last-child {
  padding-bottom: 41px;
}
