.video {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.video__wrapper {
	align-self: center;
	text-align: center;
	text-transform: uppercase;

	width: 250px;

	margin-top: 32px;
	margin-bottom: 33px;
}

.video__title {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;

	margin: 0;
	margin-bottom: 26px;
	padding: 0;
}

.video__text {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: @light-gray;

	margin: 0;
	padding: 0;
}